# virtual environment
.venv

# pycache
__pycache__

# logs
logs

# checkpoints
checkpoints

# datasets folder
datasets

# scraping folder and related files
scraping
scrape_lyrics.py
prepare_corpus.py

# PROJECT_STRUCTURE.md, # README_SCRAPING.md, # USAGE_GUIDE.md
PROJECT_STRUCTURE.md
README_SCRAPING.md
USAGE_GUIDE.md

# unused sample corpora
sample_corpus_backup.txt
sample_corpus_original.txt
sample_corpus_processed.txt